//Buttons Settings
.button
{
-fx-background-color : #0099CC;
-fx-text-fill : #e7e5e5;
-fx-background-radius: 0;
}
.button:hover{
-fx-background-color : #0086b3;
}
.button:pressed
{
-fx-background-color : #006080;
}


.flipped-button
{
-fx-background-color : WHITE;
-fx-text-fill : #007a9c;
-fx-background-radius: 0;
-fx-effect: dropshadow( one-pass-box , #0086b3 , 6 , 0.0 , -2 , 2 );

}
.flipped-button:hover{
-fx-background-color :  #0070cc;
-fx-text-fill : WHITE;
-fx-effect: dropshadow( one-pass-box , #006080 , 10 , 0.0 , -1 , 1 );
}
.flipped-button:pressed
{
-fx-background-color : #006080;
}



.menu-button
{
-fx-background-color : WHITE;
-fx-text-fill : #007a9c;
-fx-background-radius: 0;

}
.menu-button:hover{
-fx-background-color :  #0070cc;
-fx-text-fill : WHITE;

}
.menu-button:pressed
{
-fx-background-color : #006080;
}






//Font Style ComboBox Settings
.combo-box-base {
       -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
}



.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}


.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.pane {
    -fx-border-color: grey;
    -fx-border-width: 0.3;
}
















.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}