//Buttons Settings
.button
{
-fx-background-color : #0099CC;
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : #0086b3;
}
.button:pressed
{
-fx-background-color : #006080;
}


.flipped-button
{
-fx-background-color : WHITE;
-fx-text-fill : #007a9c;
-fx-background-radius: 0;
-fx-effect: dropshadow( one-pass-box , #0086b3 , 6 , 0.0 , -2 , 2 );

}
.flipped-button:hover{
-fx-background-color :  #0070cc;
-fx-text-fill : WHITE;
-fx-effect: dropshadow( one-pass-box , #006080 , 10 , 0.0 , -1 , 1 );
}
.flipped-button:pressed
{
-fx-background-color : #006080;
}

//Font Style ComboBox Settings
.combo-box-base {
       -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
}


.pane
{
fx-effect: dropshadow( one-pass-box , #006080 , 80 , 0.0 , -5 , 5 );

}


.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

















.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}